#theme-switcher {
  display: flex;
  flex-direction: row;
  padding: 3px;
  border: 1px solid var(--border-light);
  border-radius: 100px;

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    padding: 10px;

    &.active {
      background: var(--text-accent);
    }
  }
}