<div class="container">
    <footer>
        <div class="col">
            <h2>Sip, Savor, Smile. <span class="accent">It’s coffee time!</span></h2>
            <div class="social">
                <a href="//x.com">
                    <svg width="60" height="60" viewBox="0 0 60 60"><use href="#twitter"></use></svg>
                </a>
                <a href="//www.instagram.com/">
                    <svg width="60" height="60" viewBox="0 0 60 60"><use href="#instagram"></use></svg>
                </a>
                <a href="//www.facebook.com/">
                    <svg width="60" height="60" viewBox="0 0 60 60"><use href="#facebook"></use></svg>
                </a>
            </div>
        </div>
        <div class="col">
            <h3>Contact us</h3>
            <div class="contacts__wrapper">
                <div class="contact-item">
                    <a href="https://www.google.com/maps?q=8558+Green+Rd.,+Los+Angeles">
                        <svg width="20" height="20" viewBox="0 0 20 20"><use href="#geo"></use></svg>
                        <span>8558 Green Rd., LA</span>
                    </a>
                </div>
                <div class="contact-item">
                    <a href="tel:312312">
                        <svg width="18" height="18" viewBox="0 0 18 18"><use href="#phone"></use></svg>
                        <span>+1 (603) 555-0123</span>
                    </a>
                </div>
                <div class="contact-item">
                    <svg width="20" height="20" viewBox="0 0 20 20"><use href="#clock"></use></svg>
                    <span>Mon-Sat: 9:00 AM – 23:00 PM</span>
                </div>
            </div>
        </div>
    </footer>
</div>
<script src="/src/script.js" type="module"></script>
