<header>
    <div class="container">
        <div class="header__wrapper">

            <a class="header__logo-link" href="/">
                <svg viewBox="0 0 100 60" width="100" height="60" ><use href="#logo"></use></svg>
            </a>

            <nav>
                <ul>
                    <li><a href="/#favorite">Favorite coffee</a></li>
                    <li><a href="/#about">About</a></li>
                    <li><a href="/#mobile-app">Mobile App</a></li>
                    <li><a href="/#contact">Contact Us</a></li>
                </ul>
            </nav>

            <div id="theme-switcher">
                <button id="light">
                    <svg viewBox="0 0 22 22" width="22" height="22"><use href="#sun"></use></svg>
                </button>
                <button id="dark">
                    <svg viewBox="0 0 18 18" width="20" height="20"><use href="#moon"></use></svg>
                </button>
            </div>

            <button id="header-menu-button-mobile" class="header__menu-button-mobile">
                <span class="top-line"></span>
                <span class="bottom-line"></span>
            </button>

            <a href="/catalog.html" id="header-menu-button-desktop" class="header__menu-button-desktop">
                Menu <svg viewBox="0 0 20 20" width="20" height="20"><use href="#coffee-cup"></use></svg>
            </a>

        </div>
    </div>
</header>
