<header>
    <div class="container">
        <div class="header__wrapper">

            <a class="header__logo-link" href="/">
                <img src="/logo.svg" alt="Logo">
            </a>

            <nav>
                <ul>
                    <li><a href="/#favorite">Favorite coffee</a></li>
                    <li><a href="/#about">About</a></li>
                    <li><a href="/#mobile-app">Mobile App</a></li>
                    <li><a href="/#contact">Contact Us</a></li>
                </ul>
            </nav>

            <button id="header-menu-button-mobile" class="header__menu-button-mobile">
                <span class="top-line"></span>
                <span class="bottom-line"></span>
            </button>

            <button id="header-menu-button-desktop" class="header__menu-button-desktop">
                Menu <img src="/coffee-cup.svg" alt="Cup">
            </button>

        </div>
    </div>
</header>
