:root {
  --bg-body: #E1D4C9;
  --bg-container: #665F55;
  --bg-backgrop: #403F3DCC;

  --text-dark: #403F3D;
  --text-light: #E1D4C9;
  --text-accent: #B0907A;

  --border-light: #C1B6AD;
  --border-dark: #665F55;

  --border-radius-xl: 40px;
  --border-radius: 20px;

  --padding-xl: 100px;
}

$xl: 1440px;
$md: 768px;